<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SQLconnectionString"
     connectionString="Data Source=192.168.16.50\ARTEMIDOS;Initial Catalog=CarpetCleaning;User ID=sa;Password=bidataa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <add key="ServiceURL" value="http://192.168.80.7/wmssyncservice/WMSSyncService.asmx" />
  </appSettings>
  <applicationSettings>
    <ReportGenerator.Properties.Settings>
      <setting name="ReportGenerator_WebService_WMSSyncService" serializeAs="String">
        <value>http://192.168.81.8/wmssyncservice/WMSSyncService.asmx</value>
      </setting>
    </ReportGenerator.Properties.Settings>
  </applicationSettings>
</configuration>